lca_algebraic_bw25==1.4.1
ipykernel==7.3.0
jupyter==1.1.1
maxent_disaggregation==1.3.4
corner==2.3.0
click==8.4.2
urwid==4.0.9
msal==1.37.0
premise==2.4.9.1
premise_gwp==0.9.10
bw-timex==1.2.1
numpy==2.5.2
